@use "tokens" as *;
@use "mixins" as *;

.footer {
  padding: var(--space-8) 0;

  &__inner { @include flex-between; }
}

@include mobile {
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-4);
  }
}